<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="C:\Users\Josh\Desktop\Coding Dojo\Python\core_playground\style.css">
</head>
<body>
    <div class="container">
        <div class="header" style="text-align: center;"> <H1>Welcome!</H1></div>
        <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <div style="background-color: lightblue; border: 2px solid black; height: 100px; width: 100px;"></div>
            <div style="background-color: lightblue; border: 2px solid black; height: 100px; width: 100px;"></div>
            <div style="background-color: lightblue; border: 2px solid black; height: 100px; width: 100px;"></div>
        </div>
    </div>
</body>
</html>