<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header" style="text-align: center;"> <H1>Welcome!</H1></div>
        <div style="display: flex; align-items: center; justify-content: space-evenly;">
            {% for i in range(0,num)%}
            <div style="background-color:{{color}}; border: 2px solid black; height: 100px; width: 100px;"></div>
            {% endfor %}
        </div>
</body>
</html>